{% extends 'base.html' %}

{% block body  %}



      <div class="container">
            <div class="row">
              <div class=" col-md-6 col-md-offset-3">
                <div class="thumbnail">
                  <div class="caption">
                    <h3> {{ post.title }} <small>  {{ post.publishing_date| timesince }}prior to</small> </h3>
                    <p>{{ post.content|linebreaks|truncatechars:100}}</p>

                        <a href="{% url 'post:update' id=post.id %}" class="btn btn-default" role="button">güncelle</a>
                        <a href="{% url 'post:delete' id=post.id %}" class="btn btn-danger" role="button">sil</a>

                  </div>
                </div>
              </div>
            </div>
      </div>

{% endblock %}